<body id="top">
    <div class="login">
        <div class="container">
        <div class="row login-box">
                <div class="col-lg-5 col-md-12 bg-img none-992 align-self-center">
                    <div class="info">
                        <div class="logo clearfix">
                            <a href="#">
                                <img src="../../../assets/img/logo/logo_netpower.png" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 bg-color-16 align-self-center">
                    <div class="form-section">
                        <h3 class="mb-2">Forgot Password</h3>
                        <p>Enter username or email address to get password:</p>
                        <div class="login-inner-form">
                            <form nz-form [formGroup]= "form" (ngSubmit)="onSubmit(form.value)">
                                <nz-form-item>
                                    <nz-form-control nzHasFeedback >
                                    <div class="form-group form-box mt-4">
                                        <input type="email" formControlName="email"  id="email" class="input-text">
                                        <i class="flaticon-mail-2"></i>
                                    </div>
                                </nz-form-control>
                                </nz-form-item >
                                
                                <div class="form-group mb-0">
                                    <button type="submit" value="Submit" [disabled]="!form.valid" class="btn-md btn-theme btn-block">Submit</button>
                                </div>
                                <div class="clearfix gotoLogin">
                                    <a class="colorGray" href="login">Go to Login</a>
                                </div>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</body>


