/** MEDIA **/
/** Login 14 end **/
body {
    font-family: 'Open Sans', sans-serif;
    color: #535353;
}

.img-fluid {
    max-width: 100% !important;
    height: auto;
}

.form-control:focus {
    box-shadow: none;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-family: 'Open Sans', sans-serif;
}

h4 {
    font-family: 'Open Sans', sans-serif;
}

h5 {
    font-family: 'Open Sans', sans-serif;
}

h6 {
    font-family: 'Open Sans', sans-serif;
}

.h1 {
    font-family: 'Open Sans', sans-serif;
}

.h2 {
    font-family: 'Open Sans', sans-serif;
}

.h3 {
    font-family: 'Open Sans', sans-serif;
}

.h4 {
    font-family: 'Open Sans', sans-serif;
}

.h5 {
    font-family: 'Open Sans', sans-serif;
}

.h6 {
    font-family: 'Open Sans', sans-serif;
}

.login {
    min-height: 100vh;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.login .login-inner-form {
    color: #cccccc;
    position: relative;
}

.login .login-inner-form .form-group {
    margin-bottom: 25px;
}

.login .login-inner-form .form-box {
    float: left;
    width: 100%;
    position: relative;
}

.login .login-inner-form .form-box input {
    float: left;
    width: 100%;
    padding: 11px 45px 11px 20px;
    border-radius: 50px;
}

.login .login-inner-form .form-box i {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 19px;
    color: #616161;
}

.login .login-inner-form .input-text {
    font-size: 14px;
    outline: none;
    color: #616161;
    border-radius: 3px;
    font-weight: 500;
    border: 1px solid transparent;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login .login-inner-form img {
    margin-bottom: 5px;
    height: 40px;
}

.login .login-inner-form label {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
}

.login .login-inner-form .forgot {
    margin: 0;
    line-height: 45px;
    color: #535353;
    font-size: 15px;
    float: right;
}

.login .login-inner-form .btn-md {
    cursor: pointer;
    padding: 10px 30px 9px 30px;
    height: 45px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 50px;
    color: #d6d6d6;
}

.login .login-inner-form input[type=checkbox] {
    margin-right: 3px;
    margin-top: 4px;
}

.login .login-inner-form input[type=checkbox]:checked + label:before {
    font-weight: 300;
    color: #f3f3f3;
    line-height: 17px;
    font-size: 14px;
    content: "\2713";
}

.login .login-inner-form p {
    margin: 0;
    color: #616161;
}

.login .login-inner-form p a {
    color: #616161;
}

.login .login-inner-form button:focus {
    outline: none;
    outline: 0 auto -webkit-focus-ring-color;
}

.login .login-inner-form .btn-theme.focus {
    box-shadow: none;
}

.login .login-inner-form .btn-theme {
    background: #ff214f;
    border: none;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login .login-inner-form .btn-theme:hover {
    background: #ea1945;
}

.login .login-inner-form .checkbox {
    margin-bottom: 25px;
    font-size: 14px;
}

.login .login-inner-form .checkbox a {
    font-size: 14px;
    color: #616161;
    float: right;
    margin-left: 3px;
}

.login .login-inner-form .form-check {
    float: left;
    margin-bottom: 0;
}

.login .login-inner-form .form-check a {
    color: #d6d6d6;
    float: right;
}

.login .login-inner-form .form-check label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 2px;
    margin-left: -25px;
    border: none;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login .login-inner-form .form-check-input {
    position: absolute;
    margin-left: 0;
}

.login .login-inner-form .form-check-label {
    padding-left: 25px;
    margin-bottom: 0;
    font-size: 14px;
    color: #616161;
}

.login .login-inner-form .checkbox-theme input[type="checkbox"]:checked + label::before {
    color: #fff;
    background: #ff214f;
}

.login .bg-color-16 {
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #fff;
}

.login .form-section {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.login .form-section h3 {
    font-size: 25px;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #505050;
}

.login .form-section .text {
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 0;
    color: #616161;
}

.login .form-section .text a {
    color: #616161;
}

.login .form-box {
    width: 100%;
    text-align: center;
}

.login .bg-img {
    padding: 0;
    border-radius: 10px 0 0 10px;
    background: rgba(0, 0, 0, 0.04) url(../../../assets/img/bg-image-1.png) top left repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    opacity: 1;
}

.login .login-box {
    background: #fff;
    max-width: 950px;
    margin: 0 auto;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login .info {
    height: 450px;
}

.login .logo {
    height: 30px;
    text-align: left;
    margin-top: -20px;
    margin-left: 20px;
}

.login .logo img {
    height: 150px;
}

.login .logo-2 {
    margin-bottom: 50px;
    display: none;
}

.login .logo-2 img {
    height: 30px;
}

.login .nav-pills li {
    display: inline-block;
}

.login .btn-section {
    float: right;
    display: inline-block;
    top: 40%;
    position: absolute;
    right: 0;
    margin-bottom: 0;
}

.login .btn-section .link-btn {
    font-size: 12px;
    float: left;
    background: transparent;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 600;
    border-radius: 0;
    width: 100%;
    color: #fff;
    text-decoration: none;
    text-decoration: blink;
}

.login .btn-section .default-bg {
    background: #fff;
    color: #505050;
}

.login .btn-section .btn-1 {
    line-height: 45px;
    text-align: center;
    width: 100px;
    text-transform: uppercase;
    border-radius: 50px 0 0 50px;
}

.login .text {
    display: none;
}

.login .social-list {
    bottom: 20px;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}

.login .social-list a {
    width: 60px;
    padding-right: 5px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    border-radius: 0 50px 50px 0;
    background: rgba(23, 23, 23, 0.298039);
}

.login .facebook-bg:hover {
    background: #3b589e;
    color: #fff;
}

.login .twitter-bg:hover {
    background: #56d7fe;
}

.login .google-bg:hover {
    background: #dc4e41;
}

.login .linkedin-bg:hover {
    background: #1c82ca;
    color: #fff;
}

.login .pinterest-bg:hover {
    background: #a30618;
    color: #fff;
}

input[type=radio] {
    margin-right: 3px;
    margin-top: 4px;
}

.btn-theme:focus {
    box-shadow: none;
}

@media (max-width: 992px) {
    .login .none-992 {
        display: none;
    }
    .login .login-box {
        max-width: 400px;
        margin: 0 auto;
    }
    .login .form-section h3 {
        font-size: 20px;
    }
    .login .logo-2 {
        display: block;
    }
    .login .text {
        display: block;
    }
}

@media (max-width: 768px) {
    .login .bg-color-16 {
        padding: 30px;
    }
}
ant-form-item-children-icon{
    top: 10px;
}
.gotoLogin {
    color:gray;
    margin-top: 10px;
}
.colorGray{
    color: #616161;
}