<div nz-row>
    <div nz-col nzSpan="20">
        <app-create-edit-user (createUser)="addNewUser($event)" [actionName]="'create'"></app-create-edit-user>
    </div>
    <div nz-col nzSpan="4" style="text-align: right;">
        <button nz-button nz-dropdown 
        [nzDropdownMenu]="actionMenu" 
        [nzPlacement]="'bottomRight'" [disabled]="setOfCheckedId.size==0">Multiple Action</button>
        <nz-dropdown-menu #actionMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="multipleAction(1)">Activate All</li>
            <li nz-menu-item (click)="multipleAction(0)">De-Activate All</li>
          </ul>
        </nz-dropdown-menu>
    </div>
</div>
<br>
<nz-table #nzTable 
        nzShowSizeChanger
        [nzData]="dataSource" 
        nzTableLayout="fixed" 
        [nzFrontPagination]="false"
        [nzLoading]="isLoading"
        [nzTotal]="total"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
        <tr>
            <th [(nzChecked)]="checked"
                [nzIndeterminate]="indeterminate" 
                (nzCheckedChange)="onAllChecked($event)"
                [nzWidth]="'5%'"></th>
            <th nzCustomFilter
                [nzWidth]="'30%'"
                nzColumnKey="Email" 
                [nzSortFn]="true">
                Email
                <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="searchMenu">
                    <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
            </th>
            <th [nzWidth]="'25%'" nzColumnKey="CreatedDate" [nzSortFn]="true">Created Date</th>
            <th [nzWidth]="'15%'" nzColumnKey="Role" [nzFilters]="filterRole" [nzFilterFn]="true">Role</th>
            <th [nzWidth]="'10%'" nzColumnKey="Status" [nzFilters]="filterStatus" [nzFilterFn]="true">Status</th>
            <th [nzWidth]="'15%'">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of nzTable.data">
            <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)">
            </td>
            <td>{{ data.email + (data.fullName == "" ? "" : " - " + data.fullName) }}</td>
            <td>{{ data.createdDate }}</td>
            <td>
                <ng-container [ngSwitch]="data.role">
                    <nz-tag *ngSwitchCase="0" [nzColor]="'magenta'">Admin</nz-tag>
                    <nz-tag *ngSwitchCase="1" [nzColor]="'lime'">User</nz-tag>
                    <nz-tag *ngSwitchCase="2" [nzColor]="'cyan'">DC Member</nz-tag>
                    <nz-tag *ngSwitchCase="3" [nzColor]="'purple'">Contact Point</nz-tag>
                </ng-container>
            </td>
            <td>
                <div style="text-align: center;">
                    <i nz-icon *ngIf="data.status == 1; else notActive" [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
                    <ng-template #notActive>
                        <i nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#c83349'"></i>
                    </ng-template>
                </div>
            </td>
            <td>
                <div nz-row>
                    <div nz-col nzSpan="12">
                        <app-create-edit-user (editUser)="editUser($event)" [actionName]="'edit'" [data]="data"></app-create-edit-user>
                    </div>
                    <div nz-col nzSpan="12" style="text-align: right;">
                        <button nz-button nzType="default" nzDanger
                        nz-popconfirm
                        nzPopconfirmTitle="Are you sure delete this user?"
                        nzPopconfirmPlacement="bottom"
                        (nzOnConfirm)="delete(data.id)"
                        (nzOnCancel)="cancelDelete()" style="text-align: left;">Delete</button>
                    </div>
                </div>
                
                
            </td>
        </tr>
    </tbody>
</nz-table>
<nz-dropdown-menu #searchMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Keyword" [(ngModel)]="searchValue" (keyup.enter)="search()" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                Search
            </button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
    </div>
</nz-dropdown-menu>