<nz-descriptions nzTitle="Statistic Requests" nzBordered *ngIf = "rol == 0 || rol == 2">
  <nz-descriptions-item nzTitle="New">
    <nz-badge nzColor="green" [(nzText)]="numOfNew"></nz-badge>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Approved">
    <nz-badge nzColor="yellow" [(nzText)]="numOfApproved"></nz-badge>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Closed">
    <nz-badge nzColor="geekblue" [(nzText)]="numOfClosed"></nz-badge>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Obsolete">
    <nz-badge nzColor="volcano" [(nzText)]="listObsoleted.length"></nz-badge>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="List">
    <nz-collapse>
      <nz-collapse-panel nzHeader="List Obsolete" [nzActive]="false" [nzShowArrow]="true">
        <div *ngFor = "let each of listObsoleted">
           <a href="http://gdpr.web.g2.qms.netpower.cloud/request/manage/{{each[0]}}">{{each[1]}}</a>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
    <br>
    <button nz-button nzSize="medium" nzType="default" (click)='closeAllFromHome()'>Close All</button>
  </nz-descriptions-item>
</nz-descriptions>
