<nz-table #rowSelectionTable nzShowSizeChanger [nzData]="data"
          [nzFrontPagination]	="false"
          [nzPageIndex]= "pageIndex"
          [nzPageSize]= "pageSize"
          [nzTotal]= "totalPage"
          nzTableLayout="fixed"
          (nzPageIndexChange)="onCurrentPageIndexChange($event)"
          (nzPageSizeChange)="onCurrentPageSizeChange($event)">
  <thead>
    <tr>
      <th
        [(nzChecked)]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th *ngFor="let para of listTitle"  [nzSortFn]="para.compare"
                                          [nzSortPriority]="para.priority"
                                          [nzFilterMultiple]="para.filterMultiple"
                                          [nzFilters]="para.listOfFilter"
                                          [nzFilterFn]="para.filterFn">{{para.title}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr app-server-row-table *ngFor="let dataRow of rowSelectionTable.nzData"
      [actor]="dataRow"
      [listTitle]="this.listTitle"
      [nzcheck]="this.setOfCheckedId.has(dataRow.id)"
      (checkevt)="this.onItemChecked(dataRow.id, $event)"
      (onEditAction)="onEditAction($event)"
      (onViewManage)="onViewAction($event)">

    </tr>
  </tbody>
</nz-table>
