<nz-layout>
  <nz-content>
    <div nz-row>
      <div nz-col nzSpan="24">
        <h1>Request number: {{requestDetails.numId}}</h1>
      </div>
    </div>
    <!-- Two Card Left -->
    <div nz-row>
      <div nz-col nzSpan="16">

        <nz-card nzType="inner" style="margin: 16px 5px 0 0;" nzTitle="Response">
          <p><b>Dc response(*):</b></p>
          <form nz-form>
            <div *ngIf="user.rol == 0 || user.rol == 2">
              <nz-form-item>
                <nz-form-control [nzSpan]="24" nzErrorTip="Please write something here!">
                  <textarea nz-input rows="2" [(ngModel)]="requestDetails.answer" [ngModelOptions]="{standalone: true}"
                    style="width: 100%"></textarea>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzSpan]="24">
                  <div *ngIf="requestDetails.status == 'New'">
                    <button nz-button nzSize="medium" nzType="default" (click)="approve()">Approve Request</button>
                    <button nz-button nzSize="medium" nzType="default" (click)="deny()" nzDanger>Deny Request</button>
                  </div>
                  <div *ngIf="requestDetails.status == 'Approved'">
                    <button nz-button nzSize="medium" nzType="default" (click)="close()">Close Request</button>
                  </div>
                  <div *ngIf="requestDetails.status == 'Closed'">
                    This request is closed!
                  </div>
                  <div *ngIf="requestDetails.status == 'Denied'">
                    This request is denied!
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div *ngIf="user.rol == 1">
              <nz-form-item>
                <nz-form-control [nzSpan]="24" nzErrorTip="Please write something here!">
                  <textarea nz-input rows="2" [disabled]="true" style="width: 100%">{{requestDetails.answer}}</textarea>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzSpan]="24">
                  <button nz-button [disabled]="true" nzSize="medium" nzType="primary">Open Request</button>
                  <button nz-button [disabled]="true" nzSize="medium" nzType="default">Cancel</button>
                </nz-form-control>
              </nz-form-item>
            </div>
          </form>
        </nz-card>

        <nz-card nzType="inner" style="margin:16px 5px 0 0;" nzTitle="Request">
          <div nz-row>
            <div nz-col nzSpan="24" class="blackTitle">
              <span><b>Status: </b></span>
              <ng-container [ngSwitch]="requestDetails.status">
                <nz-tag *ngSwitchCase="'New'" [nzColor]="'green'">New</nz-tag>
                <nz-tag *ngSwitchCase="'Approved'" [nzColor]="'gold'">Approved</nz-tag>
                <nz-tag *ngSwitchCase="'Closed'" [nzColor]="'geekblue'">Closed</nz-tag>
                <nz-tag *ngSwitchCase="'Denied'" [nzColor]="'magenta'">Denied</nz-tag>
              </ng-container>
              <br><br>
            </div>

            <div nz-col nzSpan="12">
              <p class="blackTitle">Created Date:</p>
              <p>{{requestDetails.createdDate}}</p>

            </div>
            <div nz-col nzSpan="12">
              <p class="blackTitle">Created By:</p>
              <p>{{requestDetails.createdBy}}</p>
            </div>

            <div nz-col nzSpan="12">
              <span *ngIf="requestDetails.updatedDate != null">
                <p class="blackTitle">Updated Date:</p>
              </span>
              <p>{{requestDetails.updatedDate}}</p>

            </div>
            <div nz-col nzSpan="12">
              <span *ngIf="requestDetails.updatedBy != null">
                <p class="blackTitle">Updated By:</p>
              </span>
              <p>{{requestDetails.updatedBy}}</p>
            </div>

            <div *ngIf="requestDetails.status != 'New' || requestDetails.createdById != user.id">
              <div nz-row>
                <div nz-col nzSpan="24">
                  <p class="blackTitle">Title</p>

                </div>
                <div nz-col nzSpan="24">
                  <nz-form-item>
                    <input nz-input style="width: 100%" [placeholder]="requestDetails.title"
                      [(ngModel)]="requestDetails.title" [disabled]="true" />
                  </nz-form-item>
                </div>
                <p></p>
                <div nz-col nzSpan="12">
                  <p class="blackTitle">From Date:</p>
                  <nz-date-picker [disabled]="true" style="width: 100%" nzShowTime [(ngModel)]="requestDetails.fromDate"
                    [nzPlaceHolder]="requestDetails.fromDate">
                  </nz-date-picker>
                </div>
                <div nz-col nzSpan="12">
                  <p class="blackTitle">To Date:</p>
                  <nz-date-picker [disabled]="true" style="width: 100%" nzShowTime [(ngModel)]="requestDetails.toDate"
                    [nzPlaceHolder]="requestDetails.toDate">
                  </nz-date-picker>
                </div>
                <p></p>
                <div nz-col nzSpan="24">
                  <p class="blackTitle">Server:</p>
                  <nz-form-item>
                    <nz-select [disabled]="true" nzSize="default" nzShowSearch [(ngModel)]="requestDetails.serverId">
                      <nz-option *ngFor="let s of listServer" [nzLabel]="s.ipAddress + ' - ' + s.nameServer"
                        [nzValue]="s.serverId">
                      </nz-option>
                    </nz-select>
                  </nz-form-item>
                </div>
                <p></p>
                <div nz-col nzSpan="24">
                  <p class="blackTitle">Description:</p>

                </div>
                <div nz-col nzSpan="24">
                  <textarea [disabled]="true" nz-input style="width: 100%" rows="2"
                    [(ngModel)]="requestDetails.description"></textarea>
                </div>
                <button [disabled]="true" nz-button nzSize="medium" nzType="primary"
                  (click)="updateRequest()">Update</button>
              </div>
            </div>

            <div *ngIf="requestDetails.status == 'New' && requestDetails.createdById == user.id">
              <div nz-row>
                <div nz-col nzSpan="24">
                  <p class="blackTitle">Title</p>

                </div>
                <div nz-col nzSpan="24">
                  <nz-form-item>
                    <input nz-input style="width: 100%" [placeholder]="requestDetails.title"
                      [(ngModel)]="requestDetails.title" />
                  </nz-form-item>
                </div>

                <p></p>
                <div nz-col nzSpan="12">
                  <p class="blackTitle">From Date</p>
                  <nz-form-item>
                    <nz-date-picker [nzAutoFocus] [nzAllowClear] [nzDisabledDate]="disabledStartDate"
                      style="width: 100%" nzShowTime [(ngModel)]="requestDetails.fromDate"
                      [nzPlaceHolder]="requestDetails.fromDate" (ngModelChange)="onStartChange($event)"
                      (nzOnOpenChange)="handleStartOpenChange($event)">
                    </nz-date-picker>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="12">
                  <p class="blackTitle">To Date</p>
                  <nz-form-item>
                    <nz-date-picker [nzAutoFocus] [nzAllowClear] [nzDisabledDate]="disabledEndDate" style="width: 100%"
                      nzShowTime [(ngModel)]="requestDetails.toDate" [nzPlaceHolder]="requestDetails.toDate"
                      (ngModelChange)="onEndChange($event)" (nzOnOpenChange)="handleEndOpenChange($event)">
                    </nz-date-picker>
                  </nz-form-item>
                </div>
                <p></p>
                <div nz-col nzSpan="24">
                  <p class="blackTitle">Server:</p>
                  <nz-form-item>
                    <nz-select nzSize="default" nzShowSearch [(ngModel)]="requestDetails.serverId">
                      <nz-option *ngFor="let s of listServer" [nzLabel]="s.ipAddress + ' - ' + s.nameServer"
                        [nzValue]="s.serverId">
                      </nz-option>
                    </nz-select>
                  </nz-form-item>
                </div>
                <p></p>
                <div nz-col nzSpan="24">
                  <p class="blackTitle">Description</p>
                </div>
                <div nz-col nzSpan="24">
                  <nz-form-item>
                    <textarea nz-input style="width: 100%" rows="2" [(ngModel)]="requestDetails.description"></textarea>
                  </nz-form-item>
                </div>
                <button nz-button nzSize="medium" nzType="primary" (click)="updateRequest()">Update</button>
              </div>
            </div>

          </div>

        </nz-card>
      </div>

      <div nz-col nzSpan="8">
        <button nz-button [nzType]="'primary'" (click)="showModal()" nzSpan="8" style="margin: 16px 0 0 5px">
          <span>Open this request conversation !</span>
        </button>
        <nz-modal nzMaskClosable=false [(nzVisible)]="isVisible" nzTitle="Conversation" (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()" nzWidth="60%">
          <div class="comment-container">
            <ng-template ngFor let-comment [ngForOf]="listComment">
              <nz-comment [nzAuthor]="comment.name" [nzDatetime]="normalizeDate(comment.createdDate)">
                <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="comment.avatar"></nz-avatar>
                <nz-comment-content>
                  <p>{{ comment.commentContent }}</p>
                </nz-comment-content>
                <nz-comment-action>
                  <i nz-tooltip nzTitle="Like" nz-icon nzType="heart"
                    [nzTheme]="comment.isLoved > 0 ? 'twotone' : 'outline'" (click)="love(null, comment.id)"></i>
                </nz-comment-action>
                <nz-comment-action><a (click)="reply(comment.id)">Reply to ( {{ comment.numberOfChild }} )</a>
                </nz-comment-action>

                <ng-container>
                  <ng-template [ngIf]="clickReply && comment.id == idParentComment">
                    <ng-template ngFor let-child [ngForOf]="comment.children">
                      <nz-comment [nzAuthor]="child.name" [nzDatetime]="normalizeDate(child.createdDate)">
                        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="child.avatar"></nz-avatar>
                        <nz-comment-content>
                          <p>{{ child.commentContent }}</p>
                        </nz-comment-content>
                        <nz-comment-action>
                          <i nz-tooltip nzTitle="Like" nz-icon nzType="heart"
                            [nzTheme]="child.isLoved > 0 ? 'twotone' : 'outline'"
                            (click)="love(child.id, comment.id)"></i>
                        </nz-comment-action>
                      </nz-comment>
                    </ng-template>
                    <nz-comment>
                      <a *ngIf="comment.children.length < numberOfChildrenComments"
                        (click)="readmoreChildren()">Readmore</a>
                    </nz-comment>
                    <!-- <nz-comment> -->
                    <!-- <nz-comment-content> -->
                    <nz-form-item>
                      <textarea (keyup.enter)="handleSubmit(comment.id)" [(ngModel)]="inputReply" nz-input rows="2"
                        style="width: 100%"></textarea>
                    </nz-form-item>
                    <nz-form-item>
                      <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputReply"
                        (click)="handleSubmit(comment.id)">
                        Add Comment
                      </button>
                    </nz-form-item>
                    <!-- </nz-comment-content> -->
                    <!-- </nz-comment> -->
                  </ng-template>
                </ng-container>
              </nz-comment>
            </ng-template>
          </div>

          <!-- <button nz-button [nzType]="'primary'" (click)="showModal()" nzSpan="8" style="margin: 16px 0 0 5px">
            <span></span>
          </button> -->
          <nz-comment>
            <a *ngIf="listComment.length < numberOfParentComments" (click)="readmoreParent()">Readmore</a>
          </nz-comment>

          <nz-comment>
            <!-- <nz-comment-content> -->
            <nz-form-item>
              <textarea (keyup.enter)="handleSubmit('')"  [(ngModel)]="inputComment" nz-input rows="2" style="width: 100%"></textarea>
            </nz-form-item>
            <nz-form-item>
              <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputComment"
                (click)="handleSubmit('')">
                Add Comment
              </button>
            </nz-form-item>
            <!-- </nz-comment-content> -->
          </nz-comment>
        </nz-modal>

        <nz-card nzType="inner" style="margin: 16px 0 0 5px" nzTitle="Change Logs">
          <div class="log-container">
            <div style="margin-bottom: 8px;"></div>
            <nz-list nzItemLayout="horizontal" style="height: 243px">
              <nz-list-item *ngFor="let log of listHistoryLog">
                <nz-list-item-meta>
                  <nz-list-item-meta-avatar>
                    <nz-avatar nzIcon="user" [nzSrc]="log.fileContent"></nz-avatar>
                  </nz-list-item-meta-avatar>
                  <nz-list-item-meta-title>
                    <span><b> {{log.modifier}}</b></span>
                    <span><b> - {{log.modifiedDate}}</b></span>
                  </nz-list-item-meta-title>

                  <nz-list-item-meta-title>
                    {{log.logContent}}
                  </nz-list-item-meta-title>
                </nz-list-item-meta>
              </nz-list-item>
              <nz-list-empty *ngIf="listHistoryLog.length === 0"></nz-list-empty>
            </nz-list>
          </div>
        </nz-card>
      </div>
    </div>
  </nz-content>
</nz-layout>
