  nz-content {
    padding: 0 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .log-container {
    min-height: 650px;
    overflow-y: scroll;
  }

  .count {
    padding-left: 8px;
    cursor: auto;
  }

  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .blackTitle {
    font-size: 14px;
    font-weight: 650;
    color: black;
    width: 100%;
  }