<nz-layout class="app-layout" *ngIf="rol != null">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="" style="position: fixed;">
        <img src="../../../assets/img/logo/home_logo.png" alt="logo">
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard" style="position: fixed">
        <ul>
          <li nz-menu-item *ngIf="rol == 0 || rol == 1 || rol == 2">
            <a routerLink="/request">Manage Requests</a>
          </li>
          <li nz-menu-item *ngIf="rol == 0 || rol == 3">
            <a routerLink="/customer">Manage Customers</a>
          </li>
          <li nz-menu-item *ngIf="rol == 0 || rol == 2">
            <a routerLink="/server">Manage Servers</a>
          </li>
          <li nz-menu-item *ngIf="rol == 0">
            <a routerLink="/user">Manage Users</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Hi Group2!" nzIcon="form" style="position: fixed; margin-top: 4%;">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/account">Account Settings</a>
          </li>
          <li nz-menu-item>
            <a (click)="logOut()">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <nz-page-header nzBackIcon [nzGhost]="false">
          <nz-page-header-title>GDPR</nz-page-header-title>
        </nz-page-header>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>