.right-header{
  float: right;
}

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  min-height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
}

.sidebar-logo {
  position: relative;
  height: 84px;
  padding-left: 8px;
  padding-top: 8px;
  overflow: hidden;
  line-height: 64px;
  background: transparent;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 64px;
  width: 64px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 25px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
}

nz-header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.ant-layout-header {
    padding: 0px !important;
}
.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

//   nz-content {
//     margin: 24px;
//   }
nz-content {
  padding: 0 0px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}

[nz-menu] {
  line-height: 64px;
}
nz-footer {
  text-align: center;
}
.ant-card {
  color: #333333;
}

///  Responce
[nz-form] {
  max-width: 800px;
}

.blackTitle {
  font-size: 14px;
  font-weight: 650;
}

