<td [nzChecked]="nzcheck" (nzCheckedChange)="this.checkevt.emit(this.$event)"></td>
<td *ngFor = "let para of listTitle">
    <b *ngIf = "para.title === 'Title'">Title: </b>
   {{actor.getvalue(para.title)}}
   <div *ngIf = "para.title === 'Title'">
    <b>Request: </b>{{actor.getvalue('Request')}}<br>
    <b>Answer: </b>
  </div>
   <button nz-button nzType="primary" nzGhost *ngIf = "para.title === 'Machines Owner'" (click) = "onViewEvt()">Manage<b>{{' ' + actor.getvalue('totalMachine')}}</b></button>
  </td>
<td>
  <button nz-button nzType="primary" mat-button class="primary" (click) = "onEditItem()">Edit</button>
</td>
