<div nz-row>
  <div nz-col nzSpan="20">
    <app-create-request (createRequest)="addNewRequest($event)"></app-create-request>
  </div>
  <div nz-col nzSpan="4" style="padding-right: 50px; text-align: right;">
    <div *ngIf="rol == 0 || rol == 2">
      <button nz-button nz-dropdown [nzDropdownMenu]="actionMenu" [nzPlacement]="'bottomRight'"
        [disabled]="setOfCheckedId.size==0">Multiple Action</button>
      <nz-dropdown-menu #actionMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="multipleAction(3)">Approve all</li>
          <li nz-menu-item (click)="multipleAction(4)">Close all</li>
          <li nz-menu-item (click)="multipleAction(5)">Deny all</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
</div>
<br>
<nz-table #nzTable nzBordered nzSize="middle" nzShowSizeChanger [nzData]="listRequests" nzTableLayout="fixed"
  [nzFrontPagination]="false" [nzLoading]="isLoading" [nzTotal]="total" [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
    <tr>
      <th [(nzChecked)]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"
        [nzWidth]="'5%'"></th>
      <th [nzWidth]="'8%'" nzColumnKey="NumId" [nzSortFn]="true">Id</th>
      <th [nzWidth]="'12%'" nzColumnKey="Status" [nzFilters]="filterStatus" [nzFilterFn]="true">Status</th>
      <th nzCustomFilter [nzWidth]="'25%'" nzColumnKey="CreatedDate" [nzSortFn]="true">
        Created Date
        <nz-filter-trigger [(nzVisible)]="visibleCreated" [nzActive]="searchCreatedByValue.length > 0"
          [nzDropdownMenu]="searchCreatedByMenu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th nzCustomFilter [nzWidth]="'25%'" nzColumnKey="UpdatedDate" [nzSortFn]="true">
        Updated Date
        <nz-filter-trigger [(nzVisible)]="visibleUpdated" [nzActive]="searchUpdatedByValue.length > 0"
          [nzDropdownMenu]="searchUpdatedByMenu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th nzCustomFilter [nzWidth]="'25%'" nzColumnKey="NameServer" [nzSortFn]="true">
        Server
        <nz-filter-trigger [(nzVisible)]="visibleServerIP" [nzActive]="searchServerIPValue.length > 0"
          [nzDropdownMenu]="searchServerIPMenu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th [nzWidth]="'30% '" nzColumnKey="RequestTitle">Title</th>
      <th [nzWidth]="'20%'" nzColumnKey="BeginTime" [nzSortFn]="true">Request From</th>
      <th [nzWidth]="'20%'" nzColumnKey="EndTime" [nzSortFn]="true">Request To</th>
      <th [nzWidth]="'15%'">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td [nzChecked]="setOfCheckedId.has(data.requestId)" (nzCheckedChange)="onItemChecked(data.requestId, $event)">
      </td>
      <td>{{ data.numId }}</td>
      <td>
        <ng-container [ngSwitch]="data.status">
          <nz-tag *ngSwitchCase="2" [nzColor]="'green'">New</nz-tag>
          <nz-tag *ngSwitchCase="3" [nzColor]="'gold'">Approved</nz-tag>
          <nz-tag *ngSwitchCase="4" [nzColor]="'geekblue'">Closed</nz-tag>
          <nz-tag *ngSwitchCase="5" [nzColor]="'magenta'">Denied</nz-tag>
        </ng-container>
      </td>
      <td>{{ data.createdDate }} - {{ data.createdByName }}</td>
      <td>{{ data.updatedDate }} - {{ data.updatedByName }}</td>
      <td>{{ data.serverName }} - {{ data.serverIpAddress }}</td>
      <td> <b>Title: </b> {{ data.title }}<br> <b>Request:</b> {{data.description}}<br> <b>Answer: </b> {{data.answer}}
      </td>
      <td>{{ data.fromDate }}</td>
      <td>{{ data.toDate }}</td>
      <td>
        <button nz-button nzType="primary" (click)="onEditObjectAction(data.requestId)">
          Edit</button>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #searchServerIPMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Keyword" [(ngModel)]="searchServerIPValue" (keyup.enter)="searchServerIP()"  />
      <button nz-button nzSize="small" nzType="primary" (click)="searchServerIP()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #searchUpdatedByMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Keyword" [(ngModel)]="searchUpdatedByValue" (keyup.enter)="searchUpdatedBy()"  />
      <button nz-button nzSize="small" nzType="primary" (click)="searchUpdatedBy()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #searchCreatedByMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Keyword" [(ngModel)]="searchCreatedByValue" (keyup.enter)="searchCreatedBy()" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchCreatedBy()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
