
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
      <input type="text" nz-input placeholder="input search text" [ngModel] ="searchView" (ngModelChange)="changeSearchValue($event)" (keyup.enter)="onSearch()" />
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" nzSize="large" nzSearch (click) = "onSearch()">Search</button>
</ng-template>
