<!-- <div nz-row>
  <div nz-col nzSpan="16">
      <app-create-user></app-create-user>
  </div>
  <div nz-col nzSpan="8">
  <app-search></app-search>
  </div>
</div> -->
<!-- <app-table  [listTitle]="this.listTitle"
          [data]="this.listOfData"
          [totalPage]="this.totalData"
          [(pageIndex)] = "pageIndex"
          [(pageSize)] = "pageSize"
          (onChangePageSize) = "changePageSize($event)"
          (onChangePageIndex) = "changePageIndex($event)"
          (onEditObject)="this.onEditObjectAction($event)">
</app-table> -->
<router-outlet></router-outlet>
