<ng-template>
  <b>After 2 hours, your session will be expired!</b>
  <p *ngIf="timeJwtNotification > 0">You have {{timeJwtNotification}} minutes left!</p>
  <p *ngIf="timeJwtNotification <= 0">Your session is expired!</p>
  <nz-tag *ngIf="timeJwtNotification > 0" nzColor="warning">Expiring!</nz-tag>
  <nz-tag *ngIf="timeJwtNotification <= 0" nzColor="error">Expired!</nz-tag>
  <button nz-button nzSize="small" nzType = "primary" (click)="btnClick()">Login Again</button>
</ng-template>

<router-outlet></router-outlet>
