.blackTitle {
    font-size: 14px;
    font-weight: 650;
    color: black;
    width: 100%;
    margin-bottom: 5px;
  }
.fullwidth {
  width: 100%;
}
nz-form-item {
  width: 25%;
  float: left;
  padding-right: 3px;
}