<div class="accordion" class ="mb-2">
    <div class="card">
      <div class="card-header" >
          <button class="btn btn-primary btn-sm" type="button" (click)="showOrHiddenFormExport()">
            <i nz-icon nzType="export" nzTheme="outline"></i>  Export Requests By Servers
          </button>
      </div>
      <div class="collapse"  [ngClass]="isVisible ? 'show' : ''">
        <div class="card-body">
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
            <nz-form-item  >
                <p class = "blackTitle">From date:</p>
                <nz-form-control [nzSpan]="24">
                  <nz-date-picker [nzDisabledDate]="disabledStartDate" (ngModelChange)="onStartChange($event)" formControlName="fromDate" class="fullwidth" ></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item >
                <p class = "blackTitle">To date:</p>
                <nz-form-control [nzSpan]="24" >
                  <nz-date-picker [nzDisabledDate]="disabledEndDate" (ngModelChange)="onEndChange($event)" formControlName="toDate" class="fullwidth" ></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <p class = "blackTitle">Requester :</p>
              <nz-form-control [nzSpan]="24" nzHasFeedback>
                <nz-select  nzSize="default" nzShowSearch  formControlName="requesterName">
                  <nz-option *ngFor="let requester of listRequester" [nzLabel]="requester.email" [nzValue]="requester.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <p class = "blackTitle">Approver:</p>
              <nz-form-control [nzSpan]="24" nzHasFeedback>
                <nz-select  nzSize="default" nzShowSearch  formControlName="approverName">
                  <nz-option *ngFor="let approver of listApprover" [nzLabel]="approver.email" [nzValue]="approver.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzSpan]="12">
                  <button  class="btn btn-success btn-sm" nz-button [disabled]="!showProcessData">Process Data</button>
                </nz-form-control>
              </nz-form-item>
            </form>
        </div>
      </div>
    </div>
  </div>
