[nz-form] {
    max-width: 600px;
}
nz-select {
    width: 100%;
}
button {
    margin-left: 8px;
}
.blackTitle {
    font-size: 14px;
    font-weight: 650;
    color: black;
    width: 100%;
}
.spanStatus {
    font-size: 14px;
    font-weight: 650;
    color: black;
    margin-right: 10px;
}
.fullwidth {
    width: 100%;
}
.fixTopStatus{
    top: -4px;
}
  