<button nz-button [nzType]="'primary'" (click)="showModal()"><span>{{ actionDisplay}}</span></button>
<nz-modal nzMaskClosable=false class ="backgroundTitle" [(nzVisible)]="isVisible" nzTitle="Create new server:" (nzOnCancel)="handleCancel()">
    <form nz-form [formGroup]="validateForm">
        <nz-form-item>
         <p class = "blackTitle">Server name:</p>
          <nz-form-control [nzSpan]="24" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <input class="fullwidth" nz-input formControlName="serverName" placeholder="" />
            <ng-template #userErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please input name server!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <p class = "blackTitle">IpAddress:</p>
           <nz-form-control [nzSpan]="24" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
             <input class="fullwidth" nz-input formControlName="ipAddress" placeholder=""  minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" />
             <ng-template #userErrorTpl let-control>
               <ng-container *ngIf="control.hasError('required')">
                 Please input name server!
               </ng-container>
             </ng-template>
           </nz-form-control>
         </nz-form-item>
        <div nz-row>
            <div nz-col nzSpan="12" class = "blackTitle">
                <nz-form-item>
                    <p class = "blackTitle"> Start Date:</p>
                    <nz-date-picker (ngModelChange)="onStartChange($event)" [nzDisabledDate]="disabledStartDate"  class="fullwidth" formControlName="serverStartDate"></nz-date-picker>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12" class = "blackTitle">
                <nz-form-item>
                    <p class = "blackTitle"> End Date: </p>
                    <nz-date-picker (ngModelChange)="onEndChange($event)" [nzDisabledDate]="disabledEndDate"  class="fullwidth" formControlName="serverEndDate"></nz-date-picker>
                </nz-form-item>
            </div>
        </div>
        <nz-form-item  *ngIf="actionName == 'edit'">
          <span class = "spanStatus">Status: </span>
          <nz-form-control class="fixTopStatus">
          <nz-switch formControlName="statusServer"></nz-switch>
         </nz-form-control>
        </nz-form-item>
        <div *nzModalFooter>
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary" [disabled]="!validateForm.valid" (click) = "submitForm(validateForm.value)" >Save</button>
              <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
            </nz-form-control>
          </nz-form-item>
          </div>
      </form>
</nz-modal>
