<button nz-button nzType = "primary" nzGhost (click)="onView()">Manage<b>{{' ' + custom.numberServers}}</b></button>
<nz-modal nzMaskClosable=false  class="backgroundTitle"  [(nzVisible)]="isVisible" nzTitle="Manage Servers:" (nzOnCancel)="handleCancel()">
  <nz-card nzType="inner" nzTitle="Search Server"  nzSize="small" >
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
      <input type="text" nz-input placeholder="Name or IP Address" [(ngModel)]="searchValue"/>
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" nzSize="large" nzSearch (click)="onSearch()">Search</button>
    </ng-template>
  </nz-card>
  <nz-card nzType="inner" nzTitle="List Servers" >
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
      <nz-tab nzTitle="Show All">
        <nz-list nzBordered >
          <cdk-virtual-scroll-viewport [itemSize]="141" style="height: 282px">
          <nz-list-item *ngFor="let server of listServersShowAll">
            <label style="clear: both" [nzDisabled]="isDisable(server.customerId)" nz-checkbox [ngModel]="isCheckbox(server.customerId)" (ngModelChange)= "changeCheckBox($event,server.serverId)">{{server.nameServer}}</label>
            <label>{{server.ipAddress}}</label>
          </nz-list-item>
        </cdk-virtual-scroll-viewport>
        </nz-list>

      </nz-tab>
      <nz-tab nzTitle="Owned">
        <nz-list nzBordered>
          <cdk-virtual-scroll-viewport [itemSize]="140" style="height: 280px">
            <nz-list-item *ngFor="let server of this.listServersOwned">
              <label style="clear: both" nz-checkbox [nzDisabled]="isCustomerAvaiable()" [ngModel]="isCheckbox(server.customerId)"(ngModelChange)= "changeCheckBox($event,server.serverId)">{{server.nameServer}}</label>
              <label>{{server.ipAddress}}</label>
            </nz-list-item>
          </cdk-virtual-scroll-viewport>
        </nz-list>

      </nz-tab>
      <nz-tab nzTitle="Available">
        <nz-list nzBordered>
          <cdk-virtual-scroll-viewport [itemSize]="141" style="height: 282px">
          <nz-list-item *ngFor="let server of listServersAvailable">
            <label style="clear: both" nz-checkbox [nzDisabled]="isCustomerAvaiable()" [ngModel]="isCheckbox(server.customerId)"(ngModelChange)= "changeCheckBox($event,server.serverId)">{{server.nameServer}}</label>
            <label>{{server.ipAddress}}</label>
          </nz-list-item>
        </cdk-virtual-scroll-viewport>
        </nz-list>

      </nz-tab>

    </nz-tabset>
  </nz-card>
  <div *nzModalFooter>

        <button nz-button nzType="primary" (click)="handleSave()">Save</button>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    </div>

</nz-modal>
