<div class="accordion" class ="mb-2">
    <div class="card">
      <div class="card-header" >

          <button class="btn btn-primary btn-sm" type="button" (click)="showOrHiddenFormExport()">
            <i nz-icon nzType="export" nzTheme="outline"></i>  Export Requests By Customers
          </button>
      </div>

      <div class="collapse"  [ngClass]="isVisible ? 'show' : ''">
        <div class="card-body">
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
            <nz-form-item  >
                <p class = "blackTitle">From date:</p>
                <nz-form-control [nzSpan]="24">
                  <nz-date-picker formControlName="fromDate" class="fullwidth" [nzDisabledDate]="disabledStartDate" (ngModelChange)="onStartChange($event)"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item >
                <p class = "blackTitle">To date:</p>
                <nz-form-control [nzSpan]="24" >
                  <nz-date-picker formControlName="toDate" class="fullwidth" [nzDisabledDate]="disabledEndDate" (ngModelChange)="onEndChange($event)"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzSpan]="12">
                  <button  class="btn btn-success btn-sm" nz-button [disabled]="!validateForm.valid">Process Data</button>
                  <!-- <button nz-button (click)="resetForm($event)">Reset</button> -->
                </nz-form-control>
              </nz-form-item>
            </form>
        </div>
      </div>
    </div>
  </div>
