<div nz-row style="margin-bottom: 10px;">
    <div nz-col nzSpan="24">
        <app-export-request
          (listDataExport)="getListDataExport($event)"
          [showProcessData]=processData
          >
        </app-export-request>
    </div>
    <div nz-col nzSpan="20">
        <app-create-server (createServer)="addNewServer($event)" [actionName]="'create'" ></app-create-server>
    </div>
    <div nz-col nzSpan="4">
        <button nz-button nz-dropdown 
        [nzDropdownMenu]="actionMenu" 
        [nzPlacement]="'bottomRight'" [disabled]="setOfCheckedId.size==0">Multiple Action</button>
        <nz-dropdown-menu #actionMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="multipleAction(1)">Activate All</li>
            <li nz-menu-item (click)="multipleAction(0)">De-Activate All</li>
          </ul>
        </nz-dropdown-menu>
    </div> 
  </div>
<nz-table #nzTable 
        nzBordered
        nzShowSizeChanger
        [nzData]="dataSource" 
        nzTableLayout="fixed" 
        [nzFrontPagination]="true"
        [nzLoading]="isLoading"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
       >
    <thead>
        <tr>
            <th [(nzChecked)]="checked" 
            [nzIndeterminate]="indeterminate" 
            (nzCheckedChange)="onAllChecked($event)"
             [nzWidth]="'5%'">
            </th>
            <th style="text-align: center;" [nzWidth]="'5%'" nzColumnKey="index"  >
              #
            </th>
            <th nzCustomFilter 
            [nzWidth]="'20%'" 
            nzColumnKey="Server" 
            [nzSortFn]="sortNameServer">
                Server
                <nz-filter-trigger [(nzVisible)]="visibleServer" [nzActive]="searchServerValue.length > 0" [nzDropdownMenu]="searchServerMenu">
                    <i nz-icon nzType="search"></i>
                  </nz-filter-trigger>
            </th>
            <th nzCustomFilter 
                [nzWidth]="'20%'" 
                nzColumnKey="IpAddress"  
                [nzSortFn]="sortIpAddress" >
                IP Address
                <nz-filter-trigger [(nzVisible)]="visibleIpAddress" [nzActive]="searchIpAddressValue.length > 0" [nzDropdownMenu]="searchIpAddressMenu">
                    <i nz-icon nzType="search"></i>
                  </nz-filter-trigger>
            </th>
            <th [nzWidth]="'10%'" 
                nzColumnKey="StartDate" >
                Start Date
            </th>
            <th [nzWidth]="'10%'" nzColumnKey="EndDate"  >EndDate</th>
            <th nzCustomFilter 
                [nzWidth]="'10%'" 
                nzColumnKey="Owner"  
                [nzSortFn]="sortOwner"  >
                Owner
                <nz-filter-trigger [(nzVisible)]="visibleOwner" [nzActive]="searchOwnerValue.length > 0" [nzDropdownMenu]="searchOwnerMenu">
                    <i nz-icon nzType="search"></i>
                  </nz-filter-trigger>
            </th>
            <th [nzWidth]="'10%'" nzColumnKey="Status" [nzFilterMultiple]= "false"  [nzFilters]="filterStatus"  [nzFilterFn]="filterFn" (nzFilterChange) = "onResetCheckList()">Status</th>
            <th [nzWidth]="'10%'">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of nzTable.data">
            <td [nzChecked]="setOfCheckedId.has(data.serverId)" (nzCheckedChange)="onItemChecked(data.serverId, $event)">
            </td>
            <td style="text-align: center;">{{data.index}}</td>
            <td>{{ data.nameServer }}</td>
            <td>{{ data.ipAddress }}</td>
            <td>{{ data.startDate }}</td>
            <td>{{ data.endDate }}</td>
            <td>{{ data.companyName }}</td>
            <td  style="text-align: center;" >
                <i nz-icon *ngIf="data.status == 1; else notActive" [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
                <ng-template #notActive>
                    <i nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#c83349'"></i>
                </ng-template>
            </td>
            <td  style="text-align: center;" >
                <app-create-server (editServer)="editServer($event)" [actionName]="'edit'" [data]="data"></app-create-server>
            </td>
        </tr>
    </tbody>
</nz-table>
<nz-dropdown-menu #searchServerMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Keyword" [(ngModel)]="searchServerValue" (keyup.enter)="searchServer()" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchServer()" class="search-button">
          Search
        </button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
<nz-dropdown-menu #searchIpAddressMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Keyword" [(ngModel)]="searchIpAddressValue" (keyup.enter)="searchIpAddress()" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchIpAddress()" class="search-button">
          Search
        </button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #searchOwnerMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Keyword" [(ngModel)]="searchOwnerValue" (keyup.enter)="searchOwner()" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchOwner()" class="search-button">
          Search
        </button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
