<app-export-customer (Export) = "exportRequest($event)">
</app-export-customer>
<div nz-row>
  <div nz-col nzSpan="16">
      <app-create-customer
            [(cpFilterList)] = "CPFilterList"
            (AddCustomer) = "addCustomer($event)">
      </app-create-customer>
  </div>
  <div nz-col nzSpan="8">
  <app-search-customer
    [searchValue]="this.searchPageKey"
    (searchAction)="this.onSearchAction($event)"
  ></app-search-customer>
  </div>
</div>
<nz-table #rowSelectionTable nzShowSizeChanger [nzLoading]="isLoading" [nzData]="listOfData"
          [nzFrontPagination]	="false"
          [nzPageIndex]= "pageIndex"
          [nzPageSize]= "pageSize"
          [nzTotal]= "totalData"
          nzTableLayout="fixed"
          (nzPageIndexChange)="changePageIndex($event)"
          (nzPageSizeChange)="changePageSize($event)">
  <thead>
    <tr>
      <th
        [(nzChecked)]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
        [nzWidth]="'5%'"
        ></th>
      <th [nzWidth]="'5%'">
        #
      </th>
      <th [(nzSortOrder)]="sortStatusList[0]"
          (nzSortOrderChange)="onSortAction($event,'Customer Name')"
          nzCustomFilter [nzWidth]="'15%'">
        Customer Name
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchColumnKey.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th [nzFilterMultiple]= "true"
          [nzFilters] = "this.CPFilterList"
          (nzFilterChange) = "onFilterAction($event,'Contact Point')"
          [nzWidth]="'15%'">
        Contact Point
      </th>
      <th [(nzSortOrder)]="sortStatusList[1]"
          (nzSortOrderChange)="onSortAction($event,'Contract Begin Date')"
          [nzWidth]="'12%'">
        Contract Begin Date
      </th>
      <th [nzSortOrder]="sortStatusList[2]"
      (nzSortOrderChange)="onSortAction($event,'Contract End Date')"
      [nzWidth]="'12%'">
        Contract End Date
      </th>
      <th >
        Description
      </th>
      <th [nzFilterMultiple]= "false"
          [nzFilters] = "this.listOfFilterStatus"
          (nzFilterChange) = "onFilterAction([$event],'Status')"
          [nzWidth]="'5%'">
        Status
      </th>
      <th [nzWidth]="'10%'"
          [(nzSortOrder)]="sortStatusList[3]"
          (nzSortOrderChange)="onSortAction($event,'Machines')">
        Machines Owner
      </th>
      <th [nzWidth]="'10%'">
        <div nz-col nzSpan="4">
          <button nz-button nz-dropdown
          [nzDropdownMenu]="actionMenu"
          [nzPlacement]="'bottomRight'" [disabled]="setOfCheckedId.size==0">Multiple Action</button>
          <nz-dropdown-menu #actionMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="onMultiAction(1)">Activate All</li>
              <li nz-menu-item (click)="onMultiAction(0)">De-Activate All</li>
            </ul>
          </nz-dropdown-menu>
      </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataRow of listOfData">
      <td [nzChecked]="setOfCheckedId.has(dataRow.id)" (nzCheckedChange)="onItemChecked(dataRow.id, $event)"></td>
      <td>{{dataRow.index}}</td>
      <td>{{dataRow.name}}</td>
      <td>{{dataRow.contactPointName}}</td>
      <td>{{this.normalizeDate(dataRow.contractBeginDate)}}</td>
      <td>{{this.normalizeDate(dataRow.contractEndDate)}}</td>
      <td>{{dataRow.description}}</td>
      <td>
        <i nz-icon *ngIf="dataRow.status == 1; else notActive" [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
        <ng-template #notActive>
          <i nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#c83349'"></i>
        </ng-template>
      </td>
      <td>
        <app-manage-server
                    [(listServer)] = "listServer"
                    [custom] = "dataRow"
                    (changeServer) = "onChangeServer($event)">
        </app-manage-server>
      </td>
      <td>
        <app-edit-customer
                      [custom] = "dataRow"
                      [cpFilterList] = "CPFilterList"
                      (ChangeCustomer) = "changeCustomer($event)">
      </app-edit-customer>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="this.searchColumnKey" (keyup.enter)="search()" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
