<button nz-button [nzType]="'primary'" (click)="showModal()"><span>Edit</span></button>
<nz-modal nzMaskClosable=false class="backgroundTitle" [(nzVisible)]="isVisible" nzTitle="Edit Customer" (nzOnCancel)="handleCancel()">
    <form nz-form [formGroup]="validateForm">
        <nz-form-item>
         <p class = "blackTitle">Customer Name:</p>
          <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="userErrorTpl">
            <input class="fullwidth" nz-input formControlName="name" />
            <ng-template #userErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please input name Customer!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <div nz-row>
            <div nz-col nzSpan="12" class = "blackTitle">
                <nz-form-item>
                    <p class = "blackTitle"> Contract Begin Date:</p>
                    <nz-date-picker  class="fullwidth" formControlName="contractBeginDate" [nzDisabledDate]="disabledStartDate" (ngModelChange)="onStartChange($event)"></nz-date-picker>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12" class = "blackTitle">
                <nz-form-item>
                    <p class = "blackTitle"> Contract End Date: </p>
                    <nz-date-picker  class="fullwidth" formControlName="contractEndDate" [nzDisabledDate]="disabledEndDate" (ngModelChange)="onEndChange($event)"></nz-date-picker>
                </nz-form-item>
            </div>
        </div>
        <nz-form-item nzValue ="a">
            <p class = "blackTitle">Contact Point:</p>
          <nz-form-control [nzSpan]="24" nzHasFeedback >
            <nz-select  nzSize="default" nzShowSearch  formControlName="contactPoint">
              <nz-option *ngFor="let option of cpFilterList" [nzLabel]="option.text" [nzValue]="option.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <p class = "blackTitle">Description:</p>
          <nz-form-control [nzSpan]="24" nzErrorTip="Please write something here!">
            <textarea class="fullwidth" formControlName="description" nz-input rows="2"  ></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <span class = "spanStatus">Status: </span>
          <nz-form-control class="fixTopStatus">
          <nz-switch formControlName="status" value = "custom.status" ></nz-switch>
         </nz-form-control>
        </nz-form-item>
        <div *nzModalFooter>
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary" [disabled]="!validateForm.valid" (click) = "submitForm(validateForm.value)" >Save</button>
              <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
            </nz-form-control>
          </nz-form-item>
          </div>
      </form>
</nz-modal>


