.card {
  margin-top: 2px;
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e5e9f2;
  border-radius: .2rem;
}
.card-header:first-child {
  border-radius: calc(.2rem - 1px) calc(.2rem - 1px) 0 0;
}
.card-header {
  border-bottom-width: 1px;
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  color: inherit;
  background-color: #fff;
  border-bottom: 1px solid #e5e9f2;
}

.fullwidth {
width: 100%;
}

[nz-form] {
  max-width: 600px;
}

button {
  margin-left: 8px;
}
.ant-picker:hover{
border-color: black;
}
.ant-picker{
border: 1px solid rgba(0, 0, 0, 0.65)
}
.ant-picker-input > input:focus{
border-color: black;
}
.borderPassword {
border-color: rgb(195, 195, 195);
border-width: 1.5px;
}

.custom-file {
overflow: hidden;
}