<div class="container p-0">

  <h1 class="h3 mb-3">Settings</h1>

  <div class="row">
    <div class="col-md-5 col-xl-4">

      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Profile Settings</h5>
        </div>
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <input id="imginput" type="file" (change)="fileChangeEvent($event)" accept="image/png,image/jpeg" />

            <image-cropper [imageChangedEvent]="imageChangedEvent" 
            [maintainAspectRatio]="true" 
            [aspectRatio]="1/1"
            format="png" 
            (imageCropped)="imageCropped($event)" 
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" 
            (loadImageFailed)="loadImageFailed()">
            </image-cropper>
            <div *ngIf="croppedImage">
              <h4>Avatar</h4>
              <img [src]="croppedImage" width="200px" height="200px"/>
            </div>
            <div class="mt-3">
              <h4>{{ currentUser.fullName }}</h4>
              <p class="text-secondary mb-1">{{ currentUser.email }}</p>
              <ng-container [ngSwitch]="currentUser.role">
                <span *ngSwitchCase="0" class="badge badge-dark">Admin</span>
                <span *ngSwitchCase="1" class="badge badge-light">User</span>
                <span *ngSwitchCase="2" class="badge badge-primary">DC Member</span>
                <span *ngSwitchCase="3" class="badge badge-info">Contact Point</span>
              </ng-container>
              <form (submit)="onSubmit()" [formGroup]="formChangeAvatar">
                <div class="form-group">

                  <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">This field is
                    required</div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-success float-left" *ngIf="imageChangedEvent!=null">Submit</button>
                  <a type="submit" class="btn btn-danger float-right" (click)="cancelUpload()" *ngIf="imageChangedEvent!=null">Cancel</a>
                  <!-- <button type="cancel" class="btn btn-danger float-right" *ngIf="imageChangedEvent!=null">Cancel</button> -->
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="list-group list-group-flush">

          <a class="list-group-item list-group-item-action " [ngClass]="isShowFormAccount ? 'active' : ''"
            (click)="showFormAccount()">
            Account
          </a>
          <a class="list-group-item list-group-item-action" [ngClass]="!isShowFormAccount ? 'active' : ''"
            (click)="showFormPassword()">
            Password
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-7 col-xl-8">
      <div class="tab-content">
        <div class="tab-pane fade " [ngClass]="isShowFormAccount ? 'show active' : ''" id="account">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title mb-0">Change Info</h5>
            </div>
            <div class="card-body">
              <form nz-form [formGroup]="validateFormChangeInfo"
                (ngSubmit)="submitFormChangeInfo(validateFormChangeInfo.value)">
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>First Name</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                    [nzErrorTip]="userErrorTpl">
                    <input class="fullwidth" nz-input formControlName="firstName" placeholder="First Name" />
                    <ng-template #userErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Please input your first name!
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>Last Name</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                    [nzErrorTip]="userErrorTpl">
                    <input class="fullwidth" nz-input formControlName="lastName" placeholder="Last Name" />
                    <ng-template #userErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Please input your last name!
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>Birthday</nz-form-label>
                  <nz-form-control [nzSpan]="12">
                    <nz-date-picker formControlName="birthday" class="fullwidth"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control [nzOffset]="7" [nzSpan]="12">
                    <button nz-button nzType="primary" [disabled]="!validateFormChangeInfo.valid">Submit</button>
                    <button nz-button (click)="resetForm($event)">Reset</button>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </div>
          </div>

        </div>
        <div class="tab-pane fade " [ngClass]="!isShowFormAccount ? 'show active' : ''" id="password">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title mb-0">Change Password</h5>
            </div>
            <div class="card-body">
              <form nz-form [formGroup]="validateFormChangePw"
                (ngSubmit)="submitFormChangePw(validateFormChangePw.value)">
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>Current Password</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input your password!">
                    <input class="fullwidth borderPassword" nz-input type="password" formControlName="currentPassword"
                      (ngModelChange)="validateConfirmPassword()" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>New Password</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input new password!">
                    <input class="fullwidth borderPassword" nz-input type="password" formControlName="newPassword"
                      (ngModelChange)="validateConfirmPassword()" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                    <input class="fullwidth borderPassword" nz-input type="password" formControlName="confirmPassword"
                      placeholder="confirm your password" />
                    <ng-template #passwordErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Please confirm your password!
                      </ng-container>
                      <ng-container *ngIf="control.hasError('confirm')">
                        Password is inconsistent!
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control [nzOffset]="7" [nzSpan]="12">
                    <button nz-button nzType="primary" [disabled]="!validateFormChangePw.valid">Submit</button>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>