<button nz-button [nzType]="'primary'" (click)="showModal()"><span>Create new request</span></button>
<nz-modal  nzMaskClosable=false class="backgroundTitle" [(nzVisible)]="isVisible" nzTitle="Create new request" (nzOnCancel)="handleCancel()">
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <p class="blackTitle">Title(*):</p>
      <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="userErrorTpl">
        <input class="fullwidth" nz-input formControlName="title" placeholder="" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please input name Title!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <div nz-row>
      <div nz-col nzSpan="12" class="blackTitle">
        <nz-form-item>
          <p class="blackTitle"> FromDate:</p>
          <nz-date-picker [nzDisabledDate]="disabledStartDate" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss"
            [(ngModel)]="startValue" (ngModelChange)="onStartChange($event)"
            (nzOnOpenChange)="handleStartOpenChange($event)" class="fullwidth" formControlName="fromDate">
          </nz-date-picker>

        </nz-form-item>
      </div>
      <div nz-col nzSpan="12" class="blackTitle">
        <nz-form-item>
          <p class="blackTitle"> ToDate: </p>
          <nz-date-picker [nzDisabledDate]="disabledEndDate" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss"
            [(ngModel)]="endValue" nzPlaceHolder="End" [nzOpen]="endOpen" (ngModelChange)="onEndChange($event)"
            (nzOnOpenChange)="handleEndOpenChange($event)" class="fullwidth" formControlName="toDate">
          </nz-date-picker>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item>
      <p class="blackTitle">Server:</p>
      <nz-form-control [nzSpan]="24" nzHasFeedback>
        <nz-select nzSize="default" nzShowSearch formControlName="serverId">
          <nz-option *ngFor="let s of listServer" [nzLabel]="s.ipAddress + ' - ' + s.nameServer" [nzValue]="s.serverId">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

      <nz-form-item>
        <p class="blackTitle">Description:</p>
        <nz-form-control [nzSpan]="24" nzErrorTip="Please write something here!">
          <textarea class="fullwidth" formControlName="description" nz-input rows="2"></textarea>
        </nz-form-control>
      </nz-form-item>
      <div *nzModalFooter>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" [disabled]="!validateForm.valid"
              (click)="submitForm(validateForm.value)">Save</button>
            <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
          </nz-form-control>
        </nz-form-item>
      </div>
  </form>
</nz-modal>
