<button nz-button [nzType]="'primary'" (click)="showModal()"><span>{{ actionDisplay }}</span></button>
<nz-modal class="backgroundTitle" [(nzVisible)]="isVisible" [nzTitle]="actionDisplay" (nzOnCancel)="handleCancel()" nzMaskClosable=false>
    <form nz-form [formGroup]="validateForm">
        <nz-form-item>
            <p class = "blackTitle">Email:</p>
            <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="emailErrorTpl">
              <input class="fullwidth" nz-input formControlName="email" placeholder="Email" type="Email" [attr.disabled]="actionName == 'edit' ? true : null"/>
              <ng-template #emailErrorTpl let-control>
                <ng-container *ngIf="control.hasError('email')">
                  The input is not valid E-mail!
                </ng-container>
                <ng-container *ngIf="control.hasError('required')">
                  Please input your E-mail!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        <nz-form-item>
            <p class = "blackTitle">Role:</p>
          <nz-form-control [nzSpan]="24" nzHasFeedback>
            <nz-select  nzSize="default" nzShowSearch formControlName="role">
              <nz-option *ngFor="let option of roles" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <ng-container *ngIf="actionName == 'edit'">
          <nz-form-item>
            <span class = "spanStatus">Status:</span>
            <nz-form-control class="fixTopStatus">
            <nz-switch formControlName="status" nzCheckedChildren="Active" nzUnCheckedChildren="In-Active"></nz-switch>
           </nz-form-control>
          </nz-form-item>
        </ng-container>
        <div *nzModalFooter>
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary" [disabled]="!validateForm.valid" (click)="submitForm(validateForm.value)" [nzLoading]="isLoading">Save</button>
              <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
            </nz-form-control>
          </nz-form-item>
          </div>
      </form>
</nz-modal>














