<body id="top">
    <div class="login">
        <div class="container">
        <div class="row login-box">
                <div class="col-lg-5 col-md-12 bg-img none-992 align-self-center">
                    <div class="info">
                        <div class="logo clearfix">
                            <a href="#">
                                <img src="../../../assets/img/logo/logo_netpower.png" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 bg-color-16 align-self-center">
                    <div class="form-section">
                        <h3>Sign into your account</h3>
                        <div class="login-inner-form">
                            <form [formGroup]= "form" (ngSubmit)="onSubmit()">
                                <div class="form-group form-box">
                                    <input type="email" formControlName="email" id="email" class="input-text" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                    <div *ngIf=" submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                    </div>
                                    <i class="flaticon-mail-2"></i>
                                </div>
                                <div class="form-group form-box">
                                    <input type="password" formControlName="password"  id="password" class="input-text"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
                                    <div *ngIf=" submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                    </div>
                                    <i class="flaticon-password"></i>
                                </div>
                                <div class="checkbox clearfix">
                                    <div class="form-check checkbox-theme">
                                        <input class="form-check-input" type="checkbox" value="" id="rememberMe">
                                        <label class="form-check-label" for="rememberMe">
                                            Remember me
                                        </label>
                                    </div>
                                    <a href="forgot-password">Forgot Password</a>
                                </div>
                                <div class="form-group mb-0">
                                    <button type="submit" value="Submit" class="btn-md btn-theme btn-block">Login</button>
                                </div>
                                <p class="text">Don't have an account?<a href="#"> Register here</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</body>


